* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000405;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    width: 23rem;
    height: 15rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(158, 155, 155, 0.3);
    text-align: center;
    padding: 2rem;
    font-size: 0.8rem;
    color: rgb(31, 153, 194);
    text-transform: uppercase;
    margin-bottom: 0.7rem;

}

.inp-wrapper {
    width: 100%;
    margin-top: 0.7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text::placeholder{
    color: white;
}

.text{
    width: 100%;
    height: 1.7rem;
    border: none;
    background-color:rgb(31, 153, 194) ;
    color:rgb(255, 255, 255);
    padding: 0.9rem;
    border-radius: 15px;
    margin-bottom: 5px;
   
}

.text:focus{
    outline: 2px solid white;
}
.range-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    color: white;
    font-size: 0.7rem;
    position: relative;
}

.length{
    color: white;
    margin-bottom: 2px;
}

.range{
    margin:10px;
    appearance: none;
    width: 90%;
    height: 5px;
    background: rgb(255, 255, 255);
    outline: none;
    border-radius: 50px;
}

.range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    outline: 2px solid rgb(7, 68, 85);
    background: rgb(3, 6, 7);
    cursor: pointer;
    border-radius: 50%;
}

.btn{
    position: absolute;
    width: 90%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6rem 1.2rem;
    border: none;
    background-color: rgb(31, 153, 194);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:active{
    transform: translateX(-50%) scale(0.98);
}